<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="8" cols="10"></textarea>
        <textarea name="input2" rows="8" cols="10"></textarea>
        <textarea name="input3" rows="8" cols="10"></textarea>
        <textarea name="input4" rows="8" cols="10"></textarea>
        <br>
        <input type="submit">
  </form>
